<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.UI.WinForms" version="4.1.1" targetFramework="net472" />
  <package id="jQuery" version="2.1.1" targetFramework="net472" />
  <package id="kayChart.dll" version="0.4.7" targetFramework="net472" />
  <package id="MindFusion.Charting" version="4.1.2" targetFramework="net472" />
  <package id="SampleDependency" version="1.0.0" targetFramework="net472" />
  <package id="WindowsFormsAnimation" version="1.0.0" targetFramework="net472" />
</packages>